img {
    height: 300px;
    width: auto;
    margin: auto;
    display: block;
}

h1,
h2 {
    color: rgb(255,255,255);
}

h1 {
    text-align: center;
    background-color: darkblue;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
}

p,
ul,
ol {
    font-size: 22px;
}